.sidenav {
    height: 100%;
    width: 20vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: coral;
}

.profile-picture {
    background: url('../assets/sakuragi.png') 50% 50% no-repeat;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}